:root {
    --primary-color: #49bfee;
    --secondary-color: #eb6859;
    --tertiary-color: #a3067c;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--secondary-color);
    font-family: "Monoton, sans-serif"
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: var(--primary-color) ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
 
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  } 
  
  .left-side-header {
    width: 25%;
    text-align: center;
    align-self: center;
  }

 #work {
    display: flex;
    flex-direction: column;
  }

  .primary-border {
    border-color: var(--primary-color);
  }
  
  .intro p {
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    float: right;
  }
  
  .intro img {
    width: 25%;
    float: left;
    object-fit: contain;
    display: flex;
  }
  
  /* WORK START */
  .work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .run-buddy {
    flex: 1; 
    position: relative;
    color: var(--tertiary-color);
  }

  .run-buddy-info {
    background-color: var(--primary-color);
    width: 100%;
    bottom: 20px;
    position: absolute;
    height: 25px;
  }

  .run-buddy img {
    width: 100%;
    opacity: 70%;
  }


  /* WORK STYLES END */
  
  /* REACH OUT STYLES START */
  .contact {
    background: var(--primary-color);
  }
  
  .contact h2 {
    color: var(--tertiary-color);
    text-align: center;
    font-size: 30px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 10px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: #bb2020;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    text-align: center;
  }
  


  }
  /* REACH OUT STYLES END */
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .section-title {
      width: 80%;
    }
    
    .project {
      flex: 0 70%;
    }
    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .project {
      flex: 0 100%;
    }
  

    }
  }

